:root{/*serve para declarar variável global no CSS*/
    --background-color:#256b94;
    --color: white;
}

*{ /*Seletor universal*/
    margin: 0px;
}

body{
    background-color: #46a5c0;
    margin: 1%;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1%;
    align-items: center;
}

.estilodosbotoesdenavegacao{
    padding: 10px; /*distância entre o conteúdo de um elemento e suas bordas*/
    border-radius: 5px;
    background-color: var(--background-color);
    text-decoration: none;
    color: var(--color);
    transition: 1s;
    font-family: "Inter", sans-serif;
    font-size: 15px;
}

.organizacaolinguas{
    font-family: "Merriweather", serif; 
    font-size: 20px;
    color: white;
    margin: 1.5%;
    text-align: justify;
}

.home{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.circulopatos{
    border-radius: 50%;
}

.cursosonline{
    margin: 1.5%;
    font-family:"Inter", sans-serif;
    color: var(--color);
    font-size: 30px;
}

.comeceaprender{
    margin: 1.5%;
    font-family: "Merriweather", serif;
    color: var(--color);
    font-size: 90px;
}

.aquinarigardoidiomas{
    margin: 1.5%;
    font-family:"Inter", sans-serif;
    color: var(--color);
    font-size: 30px;
}

.imagens{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    gap: 30px 0px; /*definir o espaçamento entre os itens em layouts*/
}

.setinha{
    margin:1.5%;
}

/* MAHIARA */

.texto{
    font-size: 2rem;
    width: 70%;
    margin: 1.5%;
    font-family: "Merriweather", serif;
    color: var(--color);
    font-size: 30px;
    text-align: justify;
 }

 .foto_do_patinho{
  width: 25%;
  position: fixed;
  top: 70px;
  right: 0%;
  margin: 1.5%;
 }

 .patinho_conversando{
  width: 100%;
 }

.organizacao_professores{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    gap: 10px 2%; /*definir o espaçamento entre os itens em layouts*/   
}

.foto_texto_pag_professores img{
    border-radius: 50%;
    width: 80%;
}

.foto_texto_pag_professores{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 50% 50% 10% 10% / 25% 25% 10% 10%;
    width: 30%;
    margin: 0%;
    padding: 1%;
    box-sizing: border-box; /*box-sizing: definir como a largura e a altura em um elemento são calculadas (se vai + ou não o padding e o border)
    border box: inclui o padding e o border dentro dessas dimensões*/
    background-color: var(--background-color);
    color: white;
    text-align: justify;
    font-family: "Merriweather", serif;
    text-decoration: none;
}

.foto_texto_pag_professores:hover{
    background-color: #143b52;
    text-decoration: none;
    color: white;
}

.carrosel{
    margin:1%;
    width: 100%;
    overflow-x: auto;
    margin: 3em auto;
    display: flex;
    gap: 1em;
    scroll-behavior: smooth;
    anchor-name: --carrosel;
    scroll-snap-type: x mandatory;
}

.carrosel::-webkit-scrollbar{
    display: none;
}

.carrosel::scroll-button(right), .carrosel::scroll-button(left) {
    content: '→';
    border: none;
    background-color: #144561;
    font-family: Consolas;
    font-size: 3em;
    color: white;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    padding-bottom: .1em;
    cursor: pointer;
    position: fixed;
    position-anchor: --carrosel;
    position-area: right center;
    translate: -80%;
}

.carrosel::scroll-button(left) {
    content: '←';
    position-area: left center;
    translate: 80%;
}

.carrosel::scroll-button(right):disabled, .carrosel::scroll-button(left):disabled{
    opacity: 0.5;
    cursor: auto;
}

.cards{
    scroll-snap-align: start;
    flex: 0 0 40em;
    height: auto;
    background-color:   #143b52;
    /* padding: 1em; */
    border-radius: .5em;
    text-align: center;
    align-content: center;
}

.foto_texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    width: 40%;
    margin: 0%;
    padding: 20px;
    box-sizing: border-box; /*box-sizing: definir como a largura e a altura em um elemento são calculadas (se vai + ou não o padding e o border)
    border box: inclui o padding e o border dentro dessas dimensões*/
    background-color: var(--background-color);
    color: white;
    text-align: justify;
    font-family: "Merriweather", serif;
    text-decoration: none;
}

.foto_texto:hover {
    background-color: #143b52;
    text-decoration: none;
    color: white;
}

.foto_texto p{
    width: 70%;
}