:root{/*declarar variável global no CSS*/
    --background-color:#256b94;
    --color: white;
}

*{ /*Seletor universal*/
    margin: 0px;
}

body{
    background-color: #46a5c0;
    margin: 1%;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1%;
    align-items: center;
}

.estilodosbotoesdenavegacao{
    padding: 10px; /*distância entre o conteúdo de um elemento e suas bordas*/
    border-radius: 5px;
    background-color: var(--background-color);
    text-decoration: none;
    color: var(--color);
    transition: 1s;
    font-family: "Inter", sans-serif;
    font-size: 15px;
}

.organizacaolinguas{
    font-family: "Merriweather", serif; 
    font-size: 20px;
    color: white;
    margin: 1.5%;
    text-align: justify;
}

.home{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.circulopatos{
    border-radius: 50%;
}

.cursosonline{
    margin: 1.5%;
    font-family:"Inter", sans-serif;
    color: var(--color);
    font-size: 30px;
}

.comeceaprender{
    margin: 1.5%;
    font-family: "Merriweather", serif;
    color: var(--color);
    font-size: 90px;
}

.aquinarigardoidiomas{
    margin: 1.5%;
    font-family:"Inter", sans-serif;
    color: var(--color);
    font-size: 30px;
}

.imagens{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    gap: 30px 0px; /*definir o espaçamento entre os itens em layouts*/
}

.setinha{
    margin:1.5%;
}

/* Organização da página sobre nós */

.texto{
    font-size: 2rem;
    width: 70%;
    margin: 1.5%;
    font-family: "Merriweather", serif;
    color: var(--color);
    font-size: 30px;
    text-align: justify;
 }

 .foto_do_patinho{
  width: 25%;
  position: fixed;
  top: 70px;
  right: 0%;
  margin: 1.5%;
 }

 .patinho_conversando{
  width: 100%;
 }

/* Organização da página sobre os professores */

.organizacao_professores{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    gap: 10px 2%; /*definir o espaçamento entre os itens em layouts*/   
}

.foto_texto_pag_professores img{
    border-radius: 50%;
    width: 80%;
}

.foto_texto_pag_professores{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 50% 50% 10% 10% / 25% 25% 10% 10%; /*quando você usa uma barra, você está definindo os raios horizontal e vertical separadamente para cada canto.*/
    width: 30%;
    margin: 0%;
    padding: 1%;
    box-sizing: border-box; /*box-sizing: definir como a largura e a altura em um elemento são calculadas (se vai somar ou não o padding e o border)
    border box: inclui o padding e o border dentro dessas dimensões*/
    background-color: var(--background-color);
    color: white;
    text-align: justify;
    font-family: "Merriweather", serif;
    text-decoration: none;
}

.foto_texto_pag_professores:hover{
    background-color: #143b52;
    text-decoration: none;
    color: white;
}

/* Carrosel de textos para a página cursos */

.carrosel{
    margin:1%;
    width: 100%;
    overflow-x: auto; /*se o conteúdo exceder a largura horizontal, uma barra de rolagem horizontal deve ser exibida para permitir a visualização. */
    margin: 3em auto; /* o auto serve para manter o espaçamento. */
    display: flex; 
    gap: 1em;
    scroll-behavior: smooth; /* scroll-behavior: movimento de rolagem; smooth: rolagem suave em vez de um salto instantâneo. */
    anchor-name: --carrosel; /* define um nome de âncora para este elemento. Usado para posicionar outros elementos em relação a este carrossel.*/
    scroll-snap-type: x mandatory; /*força o navegador a "encaixar" o ponto de rolagem no eixo x (horizontal), tornando o encaixe obrigatório (mandatory). 
    Isso garante que, ao rolar, cada slide do carrossel pare exatamente na borda, sem ficar "meio termo".*/
}

.carrosel::-webkit-scrollbar{ /*pseudo-elemento, seletor especificamente da barra de rolagem em navegadores baseados no motor WebKit (Chrome, Safari e Edge)*/
    display: none;
}

.carrosel::scroll-button(right), .carrosel::scroll-button(left) { /*estilizar os botões de rolagem*/
    content: '→'; /*define o conteúdo do botão*/
    border: none; /* remover a borda padrão do botão*/
    background-color: #144561; 
    font-family: Consolas;
    font-size: 3em;
    color: white;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    padding-bottom: .1em; /*adiciona um pequeno preenchimento na parte inferior para ajustar o alinhamento vertical do símbolo da seta dentro do círculo.*/
    cursor: pointer; /*muda o cursor do mouse para uma mãozinha ao passar sobre o botão, indicando que ele é clicável.*/
    position: fixed; /*tenta fixar a posição do botão em relação à viewport*/
    position-anchor: --carrosel; /*define o ponto de referência do elemento âncora*/
    position-area: right center;
    translate: -80%; /*para puxar o botão da borda direita do carrossel para dentro da área do carrossel*/
}

.carrosel::scroll-button(left) {
    content: '←'; /*define o conteúdo do botão*/
    position-area: left center;
    translate: 80%; /*para puxar o botão da borda direita do carrossel para dentro da área do carrossel*/
}

.carrosel::scroll-button(right):disabled, .carrosel::scroll-button(left):disabled{
    /*aplica estilos específicos para os botões de rolagem do carrossel quando eles estão desativados, quando o carrossel já está no início e o botão "esquerda" não pode
    mais rolar, ou no final para o botão "direita"*/
    opacity: 0.5;
    cursor: auto; /*define o cursor do mouse para o seu estado padrão (geralmente uma seta). Isso remove o cursor de mãozinha*/
}

.cards{
    scroll-snap-align: start; /*faz com que cada slide pare e se alinhe precisamente à esquerda do carrossel quando o usuário rola.*/
    flex: 0 0 40em; /*como o item deve se comportar dentro de um container. O valor é dividido em: flex-grow, flex-shrink e flex-basis.*/
    /*flex-grow: O item não deve crescer.  flex-shrink: O item não deve encolher. flex-basis: Define o tamanho inicial*/
    height: auto;
    background-color:   #143b52;
    /* padding: 1em; */
    border-radius: .5em;
    text-align: center;
    align-content: center;
}

.foto_texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    width: 40%;
    margin: 0%;
    padding: 20px;
    box-sizing: border-box; /*box-sizing: definir como a largura e a altura em um elemento são calculadas (se vai + ou não o padding e o border)
    border box: inclui o padding e o border dentro dessas dimensões*/
    background-color: var(--background-color);
    color: white;
    text-align: justify;
    font-family: "Merriweather", serif;
    text-decoration: none;
}

.foto_texto:hover {
    background-color: #143b52;
    text-decoration: none;
    color: white;
}

.foto_texto p{
    width: 70%;
}