:root{/*declarar variável global no CSS*/
    --background-color:#256b94;
    --color-text: white;
    --background-color-body:#46a5c0;
    --background-color-fototexto-professores: #143b52;
    --background-color-botao-carrosel: #144561;
    --color-text-botoes: white;
    --cor-fundo:blue;
}

.temanatalino{
    --background-color:#69212C;
    --color-text: #ffffff;
    --background-color-body: #69212C;
    --background-color-fototexto-professores: #D8A5A1;
    --background-color-botao-carrosel: #955f5b;
    --color-text-botoes: #ffff;
}

body{
    background-color: var(--background-color-body);
    margin: 1%;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1%;
    align-items: center;
}

.estilodosbotoesdenavegacao{
    padding: 10px; /*distância entre o conteúdo de um elemento e suas bordas*/
    border-radius: 5px;
    background-color: var(--background-color);
    text-decoration: none;
    color: var(--color-text-botoes);
    transition: 1s;
    font-family: "Inter", sans-serif;
    font-size: 15px;
}

.organizacaolinguas{
    font-family: "Merriweather", serif; 
    font-size: 20px;
    color: var(--color-text);
    margin: 1.5%;
    text-align: justify;
}

.home{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.circulopatos{
    width: 600px;
    height: 600px;
    border-radius: 50%;
}

.cursosonline{
    margin: 1.5%;
    font-family:"Inter", sans-serif;
    color: var(--color-text);
    font-size: 30px;
}

.comeceaprender{
    margin: 1.5%;
    font-family: "Merriweather", serif;
    color: var(--color-text);
    font-size: 90px;
}

.aquinarigardoidiomas{
    margin: 1.5%;
    font-family:"Inter", sans-serif;
    color: var(--color-text);
    font-size: 30px;
}

.imagens{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    gap: 30px 0px; /*definir o espaçamento entre os itens em layouts*/
}

.setinha{
    margin:1.5%;
}

/* Organização da página sobre nós */

.texto{
    font-size: 2rem;
    width: 70%;
    margin: 1.5%;
    font-family: "Merriweather", serif;
    color: var(--color-text);
    font-size: 30px;
    text-align: justify;
 }

 .foto_do_patinho{
  width: 25%;
  position: fixed;
  top: 70px;
  right: 0%;
  margin: 1.5%;
 }

 .patinho_conversando{
  width: 100%;
 }

/* Organização da página sobre os professores */

.organizacao_professores{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    gap: 10px 2%; /*definir o espaçamento entre os itens em layouts*/   
}

.foto_texto_pag_professores img{
    border-radius: 50%;
    width: 80%;
}

.foto_texto_pag_professores{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 50% 50% 10% 10% / 25% 25% 10% 10%; /*quando você usa uma barra, você está definindo os raios horizontal e vertical separadamente para cada canto.*/
    width: 30%;
    margin: 0%;
    padding: 1%;
    box-sizing: border-box; /*box-sizing: definir como a largura e a altura em um elemento são calculadas (se vai somar ou não o padding e o border)
    border box: inclui o padding e o border dentro dessas dimensões*/
    background-color: var(--background-color);
    color: var(--color-text);
    text-align: justify;
    font-family: "Merriweather", serif;
    text-decoration: none;
}

.foto_texto_pag_professores:hover{
    background-color: var(--background-color-fototexto-professores);
    text-decoration: none;
    color: var(--color-text);
}

/* Carrosel de textos para a página cursos */

.carrosel{
    margin:1%;
    width: 100%;
    overflow-x: auto; /*se o conteúdo exceder a largura horizontal, uma barra de rolagem horizontal deve ser exibida para permitir a visualização. */
    margin: 3em auto; /* o auto serve para manter o espaçamento. */
    display: flex; 
    gap: 1em;
    scroll-behavior: smooth; /* scroll-behavior: movimento de rolagem; smooth: rolagem suave em vez de um salto instantâneo. */
    anchor-name: --carrosel; /* define um nome de âncora para este elemento. Usado para posicionar outros elementos em relação a este carrossel.*/
    scroll-snap-type: x mandatory; /*força o navegador a "encaixar" o ponto de rolagem no eixo x (horizontal), tornando o encaixe obrigatório (mandatory). 
    Isso garante que, ao rolar, cada slide do carrossel pare exatamente na borda, sem ficar "meio termo".*/
}

.carrosel::-webkit-scrollbar{ /*pseudo-elemento, seletor especificamente da barra de rolagem em navegadores baseados no motor WebKit (Chrome, Safari e Edge)*/
    display: none;
}

.carrosel::scroll-button(right), .carrosel::scroll-button(left) { /*estilizar os botões de rolagem*/
    content: '→'; /*define o conteúdo do botão*/
    border: none; /* remover a borda padrão do botão*/
    background-color: var(--background-color-botao-carrosel);
    font-family: Consolas;
    font-size: 3em;
    color: white;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    padding-bottom: .1em; /*adiciona um pequeno preenchimento na parte inferior para ajustar o alinhamento vertical do símbolo da seta dentro do círculo.*/
    cursor: pointer; /*muda o cursor do mouse para uma mãozinha ao passar sobre o botão, indicando que ele é clicável.*/
    position: fixed; /*tenta fixar a posição do botão em relação à viewport*/
    position-anchor: --carrosel; /*define o ponto de referência do elemento âncora*/
    position-area: right center;
    translate: -80%; /*para puxar o botão da borda direita do carrossel para dentro da área do carrossel*/
}

.carrosel::scroll-button(left) {
    content: '←'; /*define o conteúdo do botão*/
    position-area: left center;
    translate: 80%; /*para puxar o botão da borda direita do carrossel para dentro da área do carrossel*/
}

.carrosel::scroll-button(right):disabled, .carrosel::scroll-button(left):disabled{
    /*aplica estilos específicos para os botões de rolagem do carrossel quando eles estão desativados, quando o carrossel já está no início e o botão "esquerda" não pode
    mais rolar, ou no final para o botão "direita"*/
    opacity: 0.5;
    cursor: auto; /*define o cursor do mouse para o seu estado padrão (geralmente uma seta). Isso remove o cursor de mãozinha*/
}

.cards{
    scroll-snap-align: start; /*faz com que cada slide pare e se alinhe precisamente à esquerda do carrossel quando o usuário rola.*/
    flex: 0 0 40em; /*como o item deve se comportar dentro de um container. O valor é dividido em: flex-grow, flex-shrink e flex-basis.*/
    /*flex-grow: O item não deve crescer.  flex-shrink: O item não deve encolher. flex-basis: Define o tamanho inicial*/
    height: auto;
    background-color: var(--background-color-fototexto-professores);
    /* padding: 1em; */
    border-radius: .5em;
    text-align: center;
    align-content: center;
}

.foto_texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    width: 40%;
    margin: 0%;
    padding: 20px;
    box-sizing: border-box; /*box-sizing: definir como a largura e a altura em um elemento são calculadas (se vai + ou não o padding e o border)
    border box: inclui o padding e o border dentro dessas dimensões*/
    background-color: var(--background-color);
    color: var(--color-text);
    text-align: justify;
    font-family: "Merriweather", serif;
    text-decoration: none;
}

.foto_texto:hover {
    background-color: var(--background-color-fototexto-professores);
    text-decoration: none;
    color: var(--color-text);
}

.foto_texto p{
    width: 70%;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#botao{
    border-radius: 50%;
    position: absolute;
    top:20px;
    left: 50%;
}

#videozinho{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    z-index: -1;
    transform: translateY(-50%) translateX(-50%);
}

/* ESTILO DO SIGN IN */

.divform1 p{
    color: var(--color-text);
    font-family: "Merriweather", serif;
}

.main-form {
    display: flex;
    flex-direction: column;

}

input,
select {
    width: 42vh;
}

.divform1 {
    width: 45vh;
    align-self: center;
    text-align: center;
    font-size: 1.8rem;
    align-items: center;
}

.divform2 {
    font-size: 1.7rem;
    background-color: var(--background-color);
    height: 57vh;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.main-sign {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.config-sign {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.714);
    width: 60vh;
    height: fit-content;
    gap: 1vh;
    border: rgba(255, 255, 255, 0) ridge;
    border-radius: 10%;
}

.input-sign {
    background-color: rgb(255, 255, 255);
    border: none;
    color: black;
    font-size: 1.6rem;
    text-align: center;
    border-bottom: black ridge;
    width: auto;
}

input::placeholder {
    color: black;
}

.input-div {
    display: flex;
    flex-direction: column;
    width: auto;
    gap: 1.5vh;
}

.check-sign {
    display: flex;
    align-items: baseline;
}

.cadastro {
    position: relative;
    left: -1vh;
    font-size: 1.5rem;
    color: rgb(112, 8, 114);
}

.cadastro:hover {
    padding: auto;
    border-left: ridge rgb(64, 0, 255);
    border-right: rgb(64, 0, 255) ridge;
}

.p-acess {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.h2--index {
    font-size: 2rem;
}
 
.button-entrar:hover {
    color: rgb(55, 136, 241);
    transition: 0.5s;
}

.button-entrar {
    background-color: rgb(52, 47, 47);
    color: white;
    border: none;
    padding: auto;
    font-size: 1.2rem;

}
@media screen and (min-width:480px) and (max-width: 700px) {
    body{
        margin: 15px;
        width: auto;
    }
.h1alemao{
    font-size: 2.2rem;
}
.circulopatos{
    width:200px ;
    height:200px ;
}
.aquinarigardoidiomas{
    margin: 1.5%;
    font-family:"Inter", sans-serif;
    color: var(--color-text);
    font-size: 1rem;
}
.comeceaprender{
    font-size: 2rem;
}
.estilodosbotoesdenavegacao{
    padding: 5px; /*distância entre o conteúdo de um elemento e suas bordas*/
    border-radius: 5px;
    background-color: var(--background-color);
    text-decoration: none;
    color: var(--color-text-botoes);
    transition: 1s;
    font-family: "Inter", sans-serif;
    font-size: 10px;
}
.nomedaempresa{
    width: 150px;
}
}